<div class="panel" data-ng-controller="encountersCtrl">
  <style>
    .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    padding-bottom: 40px;
}
/*.dropdown-menu li{
  padding-left: 6px;
  cursor: pointer;
}
.dropdown-menu li:hover{
  padding-left: 12px;
  cursor: pointer;
}*/

  </style>
  <div class="lb1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <div class="panel-heading border">
    <ol class="breadcrumb mb0 no-padding">
      <li>
        <a href="javascript:;">Home</a>
      </li>
      <li class="active">Encounters</li>
    </ol>
</div>
<div ui-jq="checkBo">
<div class="row">
  <div class="col-md-5">
    <div class="col-md-6">
    <h6>Filter from</h6>
    <p class="input-group ui-datepicker">
      <input type="date" class="form-control" id="fromDate" />
    </p>
  </div>
  <div class="col-md-6">
  <h6>Filter to</h6>
  <p class="input-group ui-datepicker">
    <input type="date" class="form-control" id="toDate" />    
  </p>
</div>
  </div>
  <div class="col-md-7">
    <div class="col-md-4">
      <h6>Sort by Organization</h6>
      <select class="form-control pull-right" id="Organization">
        <option value="-"> From All</option>
        <option class="lastOption" ng-if="_fltr_org" selected value="{{_fltr_org[0]}}">{{_fltr_org[1]}}</option>
        <option ng-repeat="x in organizations" value="{{x.id}}"> {{x.name}}</option>    
      </select>
    </div>
    <div class="col-md-4">
      <h6>Sort by provider</h6>
      <select class="form-control pull-right" id="provider">
          <option value="-"> From All</option>
          <option class="lastOption" ng-if="_fltr_org" selected value="{{_fltr_prov[0]}}">{{_fltr_prov[1]}}</option>
        <option ng-repeat="x in providers" value="{{x.id}}">{{x.name}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <h6>Sort by Status</h6>
      <select class="form-control pull-right" id="type">
          <option class="lastOption" ng-if="_fltr_stat" selected value="{{_fltr_stat[0]}}">{{_fltr_stat[1]}}</option>
          <option value="-" > From All</option>
          <option value="0"> From Pending</option>
          <option value="10"> From Reprocess</option>
          <option value="-1"> From Rejected</option>
          <option value="1"> From Accepted</option>          
          <option value="2"> From Paid</option>
      </select>
    </div>
  </div>
</div>
<div class="row" style="padding:12px 16px">
  <div class="col-sm-12">
    <button class="btn btn-block btn-large btn-primary" id="fltrBtn" ng-click="filterTransactions()">
      <i class="fa fa-filter"></i> Filter Encounter
    </button>
  </div>
</div>
<style>
  .searchParam th .form-control{
    width: 100px !important;
  }
</style>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-stethoscope"> </span> Encounters </h3>
    <h4>Provider Amount : {{pricer(priceDatun[0].price)}}, Veted Amount : {{pricer(priceDatun[0].finalPrice)}}</h4>
    <div class="btn-group pull-right">        
      <!-- <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"></button>><i class="fa fa-bars"></i> Export Data</button> -->
        <button class="btn btn-danger" ng-click="grabFile()" id="grabFile"><i class="fa fa-bars"></i> Export Data</button>
        <ul class="dropdown-menu">
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
            <li class="divider"></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
            <li class="divider"></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
            <li class="divider"></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
            <li class="divider"></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
            <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
        </ul>
    </div>                                    
    
</div>
</div>
  <div class="panel-body table-responsive">
    <style>
      .table tbody tr th{
        font-weight: lighter !important
      }
    </style>
    <div style="padding:16px">
      <div style="padding: 12px; border-radius: 10px; background: #657694; width: 270px; color: #fff" ng-if="activeFlag" align="center"> {{activeFlagID}} <span class="fa fa-times" style="color: red; cursor: pointer" ng-click="deactivateFlag()"></span></div>
    </div>
    <table class="table table-bordered bordered table-striped table-condensed datatable" id="customers2" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
      <thead>
        <tr style="color: black">
          <th><input type="checkbox" aria-label="Select All" ng-click="clickAllOrder($event)"/></th>
          <th>ID</th>
          <th style="width: 100px !important">Enrolee Name</th>
          <th>Enrolee-ID</th>
          <th>Provider</th>
          <th>Diagnosis</th>
 <!--         <th>Service Category</th> -->
          <!--<th>Health plan</th>-->
     <!--     <th>cardSerial</th> 
          <th>Complaint</th>-->
          <th>Provider Amount</th>
          <th>Vet Amount</th>
        <!--   <th>Duration</th>
         <th>Frequency</th> 
          <th>Transaction Date</th>          
          <th>Final Amount</th>
          <th>Final Comment</th>-->
          <th>Status</th>
          <th>Details</th>
          <!--<th>Actions</th>-->
        </tr>
      </thead>
      <thead>
          <tr class="searchParam">
            <th></th>
                  <th>S/N</th>
                   <th><input type="text" id = "extended1" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Enrolee Name" /></th>
              <th><input type="text" id = "extended2" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Enrolee-ID" /></th>
                   <th><input type="text" id = "extended3" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Provider" /></th>
                   <th><input type="text" id = "extended4" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Diagnosis" /></th>
        <!--           <th><input type="text" id = "extended5" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Service Category" /></th> -->
                   <th></th>
          <!--         <th><input type="text" id = "extended7" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search cardSerial" /></th> 
                   <th><input type="text" id = "extended8" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Complaint" /></th>  -->
                   <th></th>               
          <!--         <th><input type="text" id = "extended10" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Duration" /> </th> 
                   <th><input type="text" id = "extended11" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Frequency" /></th> 
                   <th><input type="text" id = "extended12" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Transaction Date" /></th>
                   <th><input type="text" id = "extended13" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Final Amount" /></th>  
                   <th><input type="text" id = "extended14" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Final Comment" /></th>    -->
                   <th></th>
                   <th></th>

                   <!--<th><input type="text" id = "extended15" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Status" /> </th>
                   <th>Action</th>-->
          </tr>
      </thead>
      <tbody style="font-weight:lighter !important">
        <tr ng-repeat="x in encounters">
            <td style="border-bottom:none"><input type="checkbox" class="sels" ng-click="updateSelection($index, $event.currentTarget.checked)" id="ord{{$index}}" /></td>
            <th>{{$index + 1}} <i class="fa fa-flag btn" ng-if="x.flag" ng-click="fetchFlagged(x)" title="Flagged as duplicate or fraudulent"></i></th>
       <th>{{x.enroleeName}}</th>
            <th>{{x.enroleeID}}</th>
            <th>{{x.providerName}}</th>
           <th>{{x.diagnosis}}</th>
       <!--      <th>{{x.serviceCatName}}</th>-->
            <!--<th>{{x.planName}}</th>-->
        <!--    <th>{{x.cardSerial}}</th> 
            <th>{{x.summary}}</th>-->
            <th>{{pricer(x.price)}}</th>
            <th>{{pricer(x.finalPrice) }}</th>
      <!--      <th>{{x.duration}}</th>
            <th>{{x.frequency}}</th> 
            <th>{{dateFormater(x.transDate)}}</th>          
            <th>{{(x.finalPrice > 0) && pricer(x.finalPrice) || pricer(x.price)}}</th>
            <th>{{x.comments}}</th>-->
            <th>
              <span ng-if="x.status == 0" class="btn btn-default " style="width:100%"><i class="fa fa-archive"></i> Pending</span>
              <span ng-if="x.status == -1" class="btn btn-danger " style="width:100%"><i class="fa fa-times"></i> Rejected</span>
              <span ng-if="x.status == 1" class="btn btn-success " style="width:100%"><i class="fa fa-check"></i> Accepted</span>
              <span ng-if="x.status == 10" class="btn btn-info " style="width:100%"><i class="fa fa-refresh"></i> Reprocess</span>
              <span ng-if="x.status == 2" class="btn btn-primary " style="width:100%"><i class="fa fa-money"></i> Paid</span>
            </th>
            <th><button class="btn btn-edit btn-sm btn-icon loading-demo mr5" type="button" data-toggle="modal" data-target="#Details" ng-click="setID(x, $index); getProcedures(ae.transID); getDrugs(ae.transID)"><i class="fa fa-info"></i> Details</button></th>
          


            <!--<th>
                <div class="dropdown" style="" ng-if="x.status != 2">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="text-danger" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(-1, x, $index)" style="padding:7px"><span class="fa fa-times"></span> Reject</li>
                      <li class="text-success" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(1, x, $index)" style="padding:7px"><span class="fa fa-check"></span> Accept</li>
                      <li class="text-info" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(10, x, $index)" style="padding:7px"><span class="fa fa-refresh"></span> Reprocess</li>
                    </ul>
                  </div>
            </th>-->
        </tr>
        </tbody>
    </table>
    <div class="row">
      <div class="col-sm-6" align="right">
        <div>
          <select class="form-control" id="massApply">
            <option value="-">Select Option to apply</option>
            <option value="-1">Reject</option>
            <option value="1">Accept</option>
            <option value="10" disabled>Reprocess</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6" align="left">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-click="massUpdate()">[{{selectedOrder.length}}] Update Selected
              <span class="caret"></span></button>
      </div>
    </div>
  </div> 

  <div id="concludeTransaction" class="modal fade" role="dialog" style="z-index:19999">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" id="closeB" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span class="fa fa-money"> </span> Conclude Transaction</h4>
          </div>
          <div class="modal-body">
              <div class="alert alert-success">
                  <ul class="fa-ul">
                      <li>
                          <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
                              <strong class="sr-only">Note:</strong>
                              You will not be able to alter this Transaction beyond this point, kindly make sure the information displayed below is correct before you continue.
                      </li>
                  </ul>
              </div>
              <div class="form-group" style="font-size:18px;" align="center">
                      {{headerStatus}}
              </div> 
              <div ng-if="status == 1">
                  <div class="form-group">
                      <p> Final Amount </p>
                      <input type="text" name="amount" disabled value="{{finalPrice}}" class="form-control" placeholder="{{finalPrice}}" id="amount2"/>
                  </div>
                  <div class="form-group">
                      <p> Optional Comment</p>
                      <textarea class="form-control" id="comment">{{comments}}</textarea>
                  </div>
                  <div class="form-group" style="font-size:18px;" align="right">
                        <span>₦</span><span>{{pricer(finalPrice)}}</span>
                </div>
                <input type="hidden" value="{{transID}}" id="transID">
                <input type="hidden" value="{{providerID}}" id="providerID">
              </div>
              <div ng-if="status == -1">
                  <div class="form-group hidden">
                      <p> Final Amount </p>
                      <input type="text" name="amount" value="{{finalPrice}}" class="form-control" id="amount2"/>
                  </div>
                  <div class="form-group">
                      <p> Reason</p>
                      <textarea class="form-control" id="comment">{{comments}}</textarea>
                  </div>
                  <div class="form-group" style="font-size:18px;" align="right">
                        <span>₦</span><span>{{pricer(finalPrice)}}</span>
                </div>
                <input type="hidden" value="{{transID}}" id="transID">
                <input type="hidden" value="{{providerID}}" id="providerID">
              </div>
              <div ng-if="status == 10">
                  <div class="form-group hidden">
                      <p> Please enter amount</p>
                      <input type="text" name="text" value="{{finalPrice}}" class="form-control" id="amount2"/>
                  </div>
                  <div class="form-group">
                      <p> Please enter email</p>
                      <input type="text" name="text" value="" class="form-control" id="email"/>
                  </div>
                  <div class="form-group">
                      <p>Comment/Reason *Required</p>
                      <textarea class="form-control" id="comment">{{comments}}</textarea>
                  </div>
                  <div class="form-group" style="font-size:18px;" align="right">
                        <span>₦</span><span>{{pricer(finalPrice)}}</span>
                </div>
                <input type="hidden" value="{{transID}}" id="transID">
                <input type="hidden" value="{{providerID}}" id="providerID">
              </div>
          </div>
          <div class="modal-footer">
            <span id="workr3" style="display: none;"><i class="fa fa-spinner fa-spin"></i> working...</span> 
            <button class="btn btn-danger" id="closeBtn" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="fpointBtn" ng-click="conclude(status, $event)">Update <i class="fa fa-chevron-circle-right"></i></button>
          </div>
        </div>
    
      </div>
  </div>

  <div id="concludeTransactionV2" class="modal fade" role="dialog" style="z-index:19999">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" id="closeB" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span class="fa fa-money"> </span> Conclude Transaction</h4>
          </div>
          <div class="modal-body">
              <div class="alert alert-success">
                  <ul class="fa-ul">
                      <li>
                          <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
                              <strong class="sr-only">Note:</strong>
                              You will not be able to alter this Transaction beyond this point;
                      </li>
                  </ul>
              </div>
              <div class="form-group" style="font-size:18px;" align="center">
                      {{headerStatus}}
              </div> 
              <div ng-if="status == 1">
                  <div class="form-group">
                    Set Status of {{selectedOrder.length}} claims to "Accepted"
                  </div>
                  <div class="form-group">
                      <p> Comment</p>
                      <textarea class="form-control" id="comment2">{{comments}}</textarea>
                  </div>
              </div>
              <div ng-if="status == -1">
                <div class="form-group">
                    Set Status of {{selectedOrder.length}} claims to "Rejected"
                </div>
                <div class="form-group">
                      <p> Reason</p>
                      <textarea class="form-control" id="comment2">{{comments}}</textarea>
                </div>
              </div>
              <div ng-if="status == 10">
                  <div class="form-group hidden">
                      <p> Please enter amount</p>
                      <input type="text" name="text" value="{{finalPrice}}" class="form-control" id="amount2"/>
                  </div>
                  <div class="form-group">
                      <p> Please enter email</p>
                      <input type="text" name="text" value="" class="form-control" id="email"/>
                  </div>
                  <div class="form-group">
                      <p>Comment/Reason *Required</p>
                      <textarea class="form-control" id="comment">{{comments}}</textarea>
                  </div>
                  <div class="form-group" style="font-size:18px;" align="right">
                        <span>₦</span><span>{{pricer(finalPrice)}}</span>
                </div>
                <input type="hidden" value="{{transID}}" id="transID">
                <input type="hidden" value="{{providerID}}" id="providerID">
              </div>
          </div>
          <div class="modal-footer">
            <span id="workr3" style="display: none;"><i class="fa fa-spinner fa-spin"></i> working...</span> 
            <button class="btn btn-danger" id="closeBtn2" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="fpointBtn" ng-click="conclude2(status, $event)">Update <i class="fa fa-chevron-circle-right"></i></button>
          </div>
        </div>
    
      </div>
  </div>

<style>
  .table-details tbody tr th{
    font-weight: bolder !important;
  } 
</style>
</div>
    <div id="Details" class="modal fade" role="dialog" style="overflow:scroll !important">
        <div class="modal-dialog" id="mdiag" style="width:80%">
          <!-- Modal content-->
          <div class="modal-content" id="printContent">
            <div class="modal-header">
              <div class="text-center">
              <!--<button type="button" id="btnPrint" class="" style="position:absolute">Print</button>-->
              </div>
              <button type="button" class="close" id="closeB" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Encounter Details  </h4>
            </div>
            <div class="modal-body">
              <div class="row text-center">
                <div ng-if="ae.status == 0">
                  <strong style="font-size:50px; color:YELLOW">PENDING!</strong>
              </div>

              <div ng-if="ae.status == -1">
                  <strong style="font-size:50px; color:RED">REJECTED!</strong>
              </div>

              <div ng-if="ae.status == 1">
                  <strong style="font-size:50px; color:GREEN">ACCEPTED!</strong>
              </div>

              <div ng-if="ae.status == 10">
                  <strong style="font-size:50px; color:#31708f">REPROCESS!</strong>
              </div>

              <div ng-if="ae.status == 2">
                  <strong style="font-size:50px; color:blue">PAID!</strong>
              </div>
              </div>
               <div class="alert alert-warning" ng-if="ae.status == 0">
                  <ul class="fa-ul">
                      <li style="font-weight:400">
                          <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
                              <strong class="sr-only">Note:</strong>
                              pending You will not be able to alter this Transaction beyond this point, kindly make sure the information displayed below is correct before you continue.
                      </li>
                  </ul>
              </div>

               <div class="alert alert-danger" ng-if="ae.status == -1">
                  <ul class="fa-ul">
                      <li style="font-weight:500">
                          <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
                              <strong class="sr-only">Note:</strong>
                              rejected You will not be able to alter this Transaction beyond this point, kindly make sure the information displayed below is correct before you continue.
                      </li>
                  </ul>
              </div>

               <div class="alert alert-success" ng-if="ae.status == 1">
                  <ul class="fa-ul">
                      <li style="font-weight:500">
                          <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
                              <strong class="sr-only">Note:</strong>
                              accepted You will not be able to alter this Transaction beyond this point, kindly make sure the information displayed below is correct before you continue.
                      </li>
                  </ul>
              </div>

               <div class="alert alert-info" ng-if="ae.status == 10">
                  <ul class="fa-ul">
                      <li style="font-weight:500">
                          <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
                              <strong class="sr-only">Note:</strong>
                              reprocess You will not be able to alter this Transaction beyond this point, kindly make sure the information displayed below is correct before you continue.
                      </li>
                  </ul>
              </div>

              <div class="alert alert-primary" ng-if="ae.status == 2">
                  <ul class="fa-ul">
                      <li style="font-weight:500">
                          <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
                              <strong class="sr-only">Note:</strong>
                              paid You will not be able to alter this Transaction beyond this point, kindly make sure the information displayed below is correct before you continue.
                      </li>
                  </ul>
              </div>
              <div style="padding:7px; cursor:pointer; color:rgb(219, 75, 31); display:none" id="goback" ng-click="goBack()"><h4><i class="fa fa-arrow-left"></i> Go back</h4></div>
                <div id="detIO">
                    <table class="table table-details">
                        <tbody>
                            <tr>
                                <th>Fullname</th>
                                <td>{{ae.enroleeName}}</td>
                            </tr>
                            <tr>
                                <th>Provider</th>
                                <td>{{ae.providerName}}</td>
                            </tr>
                            <tr>
                                <th>Diagnosis</th>
                                <td>{{ae.diagnosis}}</td>
                            </tr>
                            <tr>
                              <th>Claims Arrival Date</th>
                              <td>{{dateFormater(ae.transDate)}}</td>
                            </tr>
                            <tr>
                              <th>Entry Date</th>
                              <td>{{dateFormater(ae.syncDate)}}</td>
                            </tr>
                            <tr>
                              <th>Date Admitted</th>
                              <td>{{dateFormater(ae.dateAdmitted)}}</td>
                            </tr>
                            <tr>
                              <th>Date Discharged</th>
                              <td>{{dateFormater(ae.dateDischarged)}}</td>
                            </tr>
                            <tr>
                              <th>Organization</th>
                              <td>{{ae.orgName}}</td>
                            </tr>
                            <tr>
                              <th>Admission</th>
                              <td>{{ae.admission == 1 && 'In-Patient' || 'Out-patient'}}</td>
                            </tr>
                            <tr>
                              <th>No of Days Fed</th>
                                <td>{{ae.feedingDays}}</td>
                            </tr>
                            <tr>
                              <th>PA Code</th>
                              <td>{{ae.code}}</td>
                            </tr>
                            <tr>
                              <th>Dr. Name</th>
                              <td>{{ae.docName}}</td>
                            </tr>
                          <!--  <tr>
                                <th>Other Enrolee ID</th>
                                <td>{{ae.pEnrolee}}</td>
                            </tr>-->
                            <tr>
                                <th>Provider Total</th>
                                <td>{{pricer(ae.price)}}</td>
                            </tr> 
                            <tr>
                                <th>Vet Total</th>
                                <td>{{pricer(ae.finalPrice)}}</td>
                            </tr>
                            <tr>
                                 <th>Final Comment</th>
                                 <td>{{ae.comments}}</td>
                            </tr>
                            <tr>
                              <th>Entered By</th>
                              <td>{{ae.creator}}</td>
                            </tr>
                            <tr>
                                 <th>Completed By</th>
                                 <td>{{ae.completedBy}}</td>
                            </tr>
                            <tr>
                              <th>Feeding Cost</th>
                                <td>{{pricer(ae.feedingCost, true)}}</td>
                            </tr>
                            <tr>
                              <th>Final Feeding Cost</th>
                                <td><input type="number" class="form formcontrol" value="{{ae.finalFeedingCost}}" id="cthis" ng-keyup="updateFeedingCost($event)" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <!---drugs-->
                    <div>
                      <h4 class="modal-title" style="margin-bottom: 10px">Drugs <a style="font-size: 14px; color: #31708f; text-decoration: underline; cursor: pointer;" href="javascript:void(0)" ng-click="appendDrug()"><i class="fa fa-plus"></i> Add New</a>  </h4>
                    <table id="table12" class="table table-bordered bordered table-striped table-condensed datatable"  datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
                            <thead>
                              <tr style="color: black">
                                <th>ID</th>
                                <th>Drug Name</th>
                                <th>Tariff Amount</th>
                                <th>Duration</th>
                                <th>Quantity</th>
                                <th>Provider Amount</th>
                                <th>Final Amount</th>
                                <th>Notes</th>
                                <th>Dosage</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody style="font-weight:lighter !important">
                              <tr ng-repeat="x in drugs">
                                  <th><span>{{$index + 1}}</span>
                                  </th>
                                  <th><span ng-if="x.id">{{x.drugName}}</span>
                                    <input ng-if="x.editing" type="text" class="form form control" id="dnam{{$index}}" value="" placeholder="Enter Drug Name here" style="width: 120px" ng-keyup="updateDrug(x, $event, $index, -1)">
                                  </th>
                                  <th><span ng-if="x.id">{{getUnitPrice(x.finalCost, x.quantity)}}</span>
                                  </th>
                                  <th><span ng-if="x.id">{{x.duration}}</span>
                                    <input ng-if="x.editing" type="text" class="form form control" id="pnam{{$index}}" value="" placeholder="Enter Duration here" style="width: 120px" ng-keyup="updateDrug(x, $event, $index, -2)">
                                  </th>
                                  <th><span ng-if="x.id">{{x.quantity}}</span>
                                    <input ng-if="x.editing" type="text" class="form form control" id="pnam{{$index}}" value="" placeholder="Enter Quantity here" style="width: 120px" ng-keyup="updateDrug(x, $event, $index, -3)">
                                  </th>
                                  <th><span ng-if="x.id">{{x.amount}}</span>
                                    <input ng-if="x.editing" type="text" class="form form control" id="pnam{{$index}}" value="0" placeholder="Enter Provider amount here" style="width: 120px" ng-keyup="updateDrug(x, $event, $index, -4)">
                                  </th>
                                  <th style="width: 100px !important"><input type="number" style="width: 100px !important" value="{{x.finalCost}}" class="form form-control" ng-keyup="updateDrug(x, $event, $index, 0)" ></th>
                                  <th style="width: 100px !important"><input style="width: 100px !important" type="text" value="{{x.finalComment}}" class="form formcontrol" ng-keyup="updateDrug(x, $event, $index, 1)" /></th>
                                  <th><span ng-if="x.id">{{x.dosage}}</span>
                                      <input ng-if="x.editing" type="text" class="form form control" id="pnam{{$index}}" value="" placeholder="Enter Procedure here" style="width: 120px !important" ng-keyup="updateDrug(x, $event, $index, -5)">
                                  </th>
                                  <td><button ng-if="x.id" class="btn btn-danger btn-xs btn-icon loading-demo mr5" ng-click="deleteService(x, $event, 0)"><i class="fa fa-trash"></i>Delete</button>
                                    <button ng-if="x.editing" class="btn btn-info" ng-click="sendDrug(x, $event)">Add Drug</button>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                    </div>
                    <!---End Drugs-->

                    <!---Procedure-->
                    <div style="overflow-x: auto"
                      <h4 class="modal-title" style="margin-bottom: 10px">Procedures <a style="font-size: 14px; color: #31708f; text-decoration: underline; cursor: pointer;" href="javascript:void(0)" ng-click="appendProcedure()"><i class="fa fa-plus"></i> Add New</a></h4>
                    <table id="table6" class="table table-bordered bordered table-striped table-condensed datatable" dt-options="dtOptions" dt-instance="dtInstance">
                              <thead>
                                <tr style="color: black">
                                  <th>ID</th>
                                  <th style="width: 100px !important">Procedure Name</th>
                                  <th>Description</th>
                                  <th>Provider Amount</th>
                                  <th>Tariff Amount</th>
                                  <th>Final Amount</th>
                                  <th>Notes</th>
                                  <th>Image</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody style="font-weight:lighter !important">
                                  <tr ng-repeat="x in procedures">
                                    <th>{{$index + 1}}</th>
                                    <th>
                                      <span ng-if="x.id">{{x.procedureName}}</span> 
                                      <input ng-if="x.editing" type="text" class="form form control" id="pnam{{$index}}" value="" placeholder="Enter Procedure here" style="width: 120px" ng-keyup="updateProcedure(x, $event, $index, -1)">
                                    </th>                                    
                                    <th><span ng-if="x.id">{{x.description}}</span>
                                      <input ng-if="x.editing" type="text" class="form form control" id="pdescr{{$index}}" value="" placeholder="Enter Description here" style="width: 120px" ng-keyup="updateProcedure(x, $event, $index, -2)">
                                    </th>
                                    <th> <span ng-if="x.id">{{pricer(x.cost)}}</span>
                                      <input ng-if="x.editing" type="text" class="form form control" id="pcost{{$index}}" value="0" placeholder="0" style="width: 120px" ng-keyup="updateProcedure(x, $event, $index, -3)">
                                    </th>
                                    <th><span ng-if="x.id">{{pricer(x.finalCost)}}</span>
                                      <input ng-if="x.editing" type="text" class="form form control" id="pfcost{{$index}}" value="0" placeholder="Enter Procedure here" style="width: 120px" ng-keyup="updateProcedure(x, $event, $index, 0)">
                                    </th>
                                    <th style="width: 100px !important"><input type="number" value="{{x.finalCost}}" class="form form-control" ng-keyup="updateProcedure(x, $event, $index, 0)" style="width: 100px !important" ></th>
                                    <th style="width: 100px !important"><input type="text" value="{{x.finalComment}}" class="form formcontrol" ng-keyup="updateProcedure(x, $event, $index, 1)" style="width: 100px !important" /></th>
                                    <th><img src="{{pointFile(x.file)}}" style="max-width:250px" ng-if="x.file" /></th>
                                    <td>
                                      <button ng-if="x.editing" class="btn btn-info" ng-click="sendProcedure(x, $event)">Add Procedure</button>
                                      <button ng-if="x.id" class="btn btn-danger btn-xs btn-icon loading-demo mr5" ng-click="deleteService(x, $event)"><i class="fa fa-trash"></i>Delete</button>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                    </div>
                    <!---End Procedure-->
                    


                  </div>
            </div>
            <div class="modal-footer">
              <span id="workr3" style="display: none;"><i class="fa fa-spinner fa-spin"></i> working...</span> 
             <div class="dropup" style="position:absolute" ng-if="ae.status != 2">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                      <li class="text-danger" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(-1, ae, $index)" style="padding:7px"><span class="fa fa-times"></span> Reject</li>
                      <li class="text-success" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(1, ae, $index)" style="padding:7px"><span class="fa fa-check"></span> Accept</li>
                      <li class="text-info" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(10, ae, $index)" style="padding:7px"><span class="fa fa-refresh"></span> Reprocess</li>
                    </ul>
              </div>
                  <button type="button" id="btnPrint" class="btn btn-info">Print</button>
              <button class="btn btn-danger" id="closeBtn" data-dismiss="modal">Close</button>              
            </div>
          </div>
      
        </div>
    </div>
<a href="" id="tlnk" style="display: none;" target="_blank"></a>
</div>
